$pink: #F3EDF7;
$purple: #6750A4;
$red: #CF1B1B;
$lightGrey: #CAC4D0;
$black: #1C1B1F;
$lightBlack: #49454F;
$white: #FFFFFF;
:root{
    --pink: #{$pink};
    --purple: #{$purple};
    --red: #{$red};
    --lightGrey: #{$lightGrey};
    --black: #{$black};
    --lightBlack: #{$lightBlack};
    --white: #{$white};
}