@media screen and (max-width: 1024px) {
  .open-modal-main {
    left: 93%;
  }
}
@media screen and (max-width: 768px) {
  .open-modal-main {
    left: 90%;
  }
}
@media screen and (max-width: 600px) {
  .open-modal-main {
    left: 86%;
  }
}
@media screen and (max-width: 480px) {
  .open-modal-main {
    left: 86%;
  }
}
@media screen and (max-width: 425px) {
  .open-modal-main {
    left: 83%;
  }
}
@media screen and (max-width: 320px) {
  .open-modal-main {
    left: 80%;
  }
}
